.redBorder {
  border-bottom: 1px solid;
  border-color: red !important;
}

.greenBorder {
  border-bottom: 1px solid;
  border-color: green !important;
}

.video-container {
  position: relative;
}

.triangle-icon-red {
  position: absolute;
  bottom: 0.13em;
  left: 0.75em;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
}

.triangle-icon-green {
  position: absolute;
  bottom: 0.13em;
  left: 0.75em;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
}


.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: auto;
}

.overlay-button {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.overlay-button:hover {
  color: rgba(255, 255, 255, 1);
}

.tab-content{
  margin-top: 5em;
  margin-bottom: 2em;
}

.navbar{
  background-color: rgb(26, 26, 26) !important;
}